<div class="card">
  <div class="card-block">
    <div class="form-group row">
      <label class="col-md-1">Class :</label>
      <div class="col-md-4">
        <select class="form-control" [ngModel]="selectedClass" (ngModelChange)="classSelected($event)">
          <option *ngFor="let clas of classes" [ngValue]="clas">{{clas.className}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let csg of clasSubjectGroups" (click)="onSelect(csg)" [class.selected]="csg === selectedCSG">
            <td class="col-md-1">{{csg.subjectGroupName}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteCSG(csg, $event)">
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addCSG()">Add New </button>
<div *ngIf="addingCSG">
  <ui-csg-detail (close)="close($event)"></ui-csg-detail>
</div>
