<div>
<div>
    <label>Class: </label>
    <select [ngModel]="selectedClass" (ngModelChange)="classSelected($event)">
        <option *ngFor="let clas of classes" [ngValue]="clas">{{clas.className}}</option>
    </select>
</div>
<div class="col-md-5">
    <table class="table table-bordered table-striped table-sm">
        <caption></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let csg of clasSubjectGroups" (click)="onSelect(csg)" [class.selected]="csg === selectedCSG">
                <td class="col-md-4">{{csg.subjectGroupName}}</td>
                <td>
                    <button type="button" md-button color="accent" (click)="deleteCSG(csg, $event)">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addCSG()">Add New </button>
</div>
<div *ngIf="addingCSG">
    <ui-csg-detail (close)="close($event)"></ui-csg-detail>
</div>
