<form>
  <div class="form-group row">
    <label class="col-md-2">Select Class: </label>
    <select class="col-md-4" name="className" [ngModel]="selectedClass" (ngModelChange)="classSelected($event)">
      <option *ngFor="let classs of classes" [ngValue]="classs">{{classs.className}}</option>
    </select>
  </div>
  <div class="form-group row">
    <label class="col-md-2">Select Section: </label>
    <select class="col-md-4" name="secName" [ngModel]="selectedSection" (ngModelChange)="sectionSelected($event)">
      <option *ngFor="let section of sections" [ngValue]="section">{{section.sectionName}}</option>
    </select>
  </div>
  <div class="form-group row">
    <label class="col-md-2">Select Day: </label>
    <select class="col-md-4" name="dayName" [ngModel]="selectedDay" (ngModelChange)="daySelected($event)">
      <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
    </select>
  </div>
</form>
<div class="card">
  <div class="col-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Period</th>
          <th>Subject</th>
          <th>Timing From</th>
          <th>Timing To</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timetable of selectedTimetable">
          <th scope="row">{{timetable.periodNo}}</th>
          <td>
            <select [(ngModel)]="timetable.subjectId">
              <option *ngFor="let subject of subjects" value={{subject.id}}>{{subject.subjectName}}</option>
            </select>
          </td>
          <td>
            <input type="time" [(ngModel)]="timetable.timingFrom" />
          </td>
          <td>
            <input type="time" [(ngModel)]="timetable.timingTo" />
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="save(timetable, $event)">
              save
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(timetable, $event)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="add()">Add</button>
<div *ngIf="isNewTimetable">
  <br>
  <h3>New Timetable Details</h3>
  <br/>
  <form (ngSubmit)="insert()" #form="ngForm">
    <div class="form-group row">
      <label for="period" class="col-md-2">Period</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="period" name="period" required [(ngModel)]="newTimetable.periodNo">
      </div>
    </div>
    <div class="form-group row">
      <label for="subject" class="col-md-2">Subject</label>
      <div class="col-md-4">
        <select class="form-control" id="subject" name="subject" required [(ngModel)]="newTimetable.subjectId">
          <option *ngFor="let subj of subjects" [value]="subj.id">{{subj.subjectName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="timingFrom" class="col-md-2">Timing From</label>
      <div class="col-md-2">
        <input type="time" class="form-control" id="timingFrom" name="timingFrom" required [(ngModel)]="newTimetable.timingFrom">
      </div>
    </div>
    <div class="form-group row">
      <label for="timingTo" class="col-md-2">Timing To</label>
      <div class="col-md-2">
        <input type="time" class="form-control" id="timingTo" name="timingTo" required [(ngModel)]="newTimetable.timingTo">
      </div>
    </div>
    <button type="button" class="btn btn-normal btn-md" (click)="goBack()">Back</button>
    <button type="submit" class="btn btn-success btn-md">Save</button>
  </form>
  <br/>
</div>
