<div *ngIf="cceCosch">
    <form (ngSubmit)="save()" #form="ngForm">
        <div class="form-group row">
            <label for="name" class="col-md-1">Name :</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="name" required [(ngModel)]="cceCosch.name">
            </div>
        </div>
        <button type="button" class="btn btn-normal btn-md" (click)="goBack()">Back</button>
        <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
    <br/>
</div>
