<div class="form-group row">
  <label class="col-md-2">Select Coscholastic: </label>
  <select class="col-md-4" [ngModel]="selectedCosch" (ngModelChange)="coschSelected($event)">
    <option *ngFor="let cosch of coscholastics" [ngValue]="cosch">{{cosch.name}}</option>
  </select>
</div>
<div class="card">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sectionHeading of sectionHeadings" (click)="onSelect(sectionHeading)" [class.selected]="sectionHeading === selectedSectionHeading">
          <td class="col-md-4">{{sectionHeading.name}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="gotoEdit(sectionHeading, $event)">
              edit
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteSectionHeading(sectionHeading, $event)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addSectionHeading()">Add New </button>
<div *ngIf="addingSectionHeading">
  <ui-cce-section-heading-detail (close)="close($event)"></ui-cce-section-heading-detail>
</div>
