<div class="card">
  <div class="card-block">
    <form #form="ngForm">
      <div class="form-group row">
        <label class="col-md-2">Coscholastic :</label>
        <div class="col-md-4">
          <select class="form-control" name="coschName" [ngModel]="selectedCosch" (ngModelChange)="coschSelected($event)">
            <option *ngFor="let cosch of coscholastics" [ngValue]="cosch">{{cosch.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2">Section Heading :</label>
        <div class="col-md-4">
          <select class="form-control" name="secHeadName" [ngModel]="selectedSectionHeading" (ngModelChange)="sectionHeadingSelected($event)">
            <option *ngFor="let secHead of sectionHeadings" [ngValue]="secHead">{{secHead.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="topicName" class="col-md-2">Topic :</label>
        <div class="col-md-4">
          <select class="form-control" name="topicName" name="topicName" [ngModel]="selectedTopicPrimary" (ngModelChange)="topicSelected($event)">
            <option *ngFor="let topic of topicPrimarys" [ngValue]="topic">{{topic.name}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aspect of aspects" (click)="onSelect(aspect)" [class.selected]="aspect === selectedAspect">
          <td>
            <input [(ngModel)]="aspect.name" />
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="update(aspect, $event)">
              update
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteAspect(aspect, $event)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="add()">Add New </button>
<div *ngIf="addingAspect" class="card">
  <br>
  <div class="card-header">
    New CCE Aspect Primary Details
  </div>
  <div class="card-block">
    <form (ngSubmit)="save()" #classForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-md-2">Name :</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="name" required [(ngModel)]="aspectPrimary.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="coschName" class="col-md-2">Coscholastic Name :</label>
        <div class="col-md-4">
          {{selectedCosch.name}}
        </div>
      </div>
      <div class="form-group row">
        <label for="secHeadName" class="col-md-2">Section Heading Name :</label>
        <div class="col-md-4">
          {{selectedSectionHeading.name}}
        </div>
      </div>
      <div class="form-group row">
        <label for="topicName" class="col-md-2">Topic Primary Name :</label>
        <div class="col-md-4">
          {{selectedTopicPrimary.name}}
        </div>
      </div>
      <button type="button" class="btn btn-normal btn-md" (click)="close()">Back</button>
      <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
  </div>
</div>
