<div class="form-group row">
  <label for="clas" class="col-md-1">Class :</label>
  <div class="col-md-4">
    <select class="form-control" id="clas" name="clas" required [ngModel]="selectedClass" (ngModelChange)="classSelected($event)">
      <option *ngFor="let classs of classes" [ngValue]="classs">{{classs.className}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="sec" class="col-md-1">Section :</label>
  <div class="col-md-4">
    <select class="form-control" name="sec" required [ngModel]="selectedSection" (ngModelChange)="sectionSelected($event)">
      <option *ngFor="let section of sections" [ngValue]="section">{{section.sectionName}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="exam" class="col-md-1">Exam :</label>
  <div class="col-md-4">
    <select class="form-control" name="exam" required [ngModel]="selectedExam" (ngModelChange)="examSelected($event)">
      <option *ngFor="let exam of exams" [ngValue]="exam">{{exam.examName}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="examsubject" class="col-md-1">Subject :</label>
  <div class="col-md-4">
    <select class="form-control" name="examsubject" [ngModel]="selectedExamSubject" required (ngModelChange)="examSubjectSelected($event)">
      <option *ngFor="let es of examSubjects" [ngValue]="es">{{es.subjectName}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="activity" class="col-md-1">Activity :</label>
  <div class="col-md-4">
    <select class="form-control" name="activity" [ngModel]="selectedActivity" required (ngModelChange)="activitySelected($event)">
      <option *ngFor="let act of activities" [ngValue]="act">{{act.activityName}}</option>
    </select>
  </div>
</div>
<div class="card">
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Mark</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let examStudent of examStudents; let i = index">
          <th scope="row">{{examStudent.rollNo}}</th>
          <td>{{examStudent.name}}</td>
          <td>
            <input type="number" [(ngModel)]="score[i].mark" />
          </td>
          <td>
            <input type="text" [(ngModel)]="score[i].grade" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="save()">Save</button>
