<div *ngIf="classEvent" class="card">
  <div class="card-header">
    New Event Class
  </div>
  <div class="card-block">
    <form (ngSubmit)="save()" #form="ngForm" ngNativeValidate>
      <div class="form-group row">
        <label for="name" class="col-md-2">Event</label>
        <div class="col-md-4">
          {{eventTitle}}
        </div>
      </div>
      <div class="form-group row">
        <label for="type" class="col-md-2">Class</label>
        <div class="col-md-4">
          <select class="form-control" id="type" name="type" required [ngModel]="classEvent.classId" (ngModelChange)="classSelected($event)">
            <option *ngFor="let clas of classes" [ngValue]="clas.id">{{clas.className}}</option>
          </select>
        </div>
      </div>
      <button type="button" class="btn btn-normal btn-md" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
  </div>
</div>
