<div class="form-group row">
  <label class="col-md-2">Coscholastic: </label>
  <div class="col-md-4">
    <select class="form-control" [ngModel]="selectedCosch" (ngModelChange)="coSchSelected($event)">
      <option *ngFor="let cceCosch of cceCoscholastics" [ngValue]="cceCosch">{{cceCosch.name}}</option>
    </select>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ccc of cceCoschClasses" (click)="onSelect(ccc)" [class.selected]="ccc === selectedCCC">
          <td class="col-md-4">{{ccc.className}}</td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteCceCoschClass(ccc, $event)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addCceCoschClass()">Add New </button>
<div *ngIf="addingCCC">
  <ui-ccc-detail (close)="close($event)"></ui-ccc-detail>
</div>
