<div *ngIf="topicPrimary" class="card">
  <div class="card-block">
    <form (ngSubmit)="save()" #form="ngForm">
      <div class="form-group row">
        <label for="name" class="col-md-2">Name :</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="name" required [(ngModel)]="topicPrimary.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="coschName" class="col-md-2">Coscholastic Name :</label>
        <div class="col-md-4">
          {{coscholasticName}}
        </div>
      </div>
      <div class="form-group row">
        <label for="coschName" class="col-md-2">Section Heading Name :</label>
        <div class="col-md-4">
          {{sectionHeadingName}}
        </div>
      </div>
      <button type="button" class="btn btn-normal btn-md" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
  </div>
</div>
