<div class="card">
  <div class="card-block">
    <div class="form-group row">
      <label class="col-md-2">Subject Group: </label>
      <div class="col-md-4">
        <select class="form-control" [ngModel]="selectedSubjectGroup" (ngModelChange)="subjectGroupSelected($event)">
          <option *ngFor="let subjectGroup of subjectGroups" [ngValue]="subjectGroup">{{subjectGroup.subjectGroupName}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sgs of subjectGroupSubjects" (click)="onSelect(sgs)" [class.selected]="sgs === selectedSGS">
            <td class="col-md-1">{{sgs.subjectName}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteSubjectGroupSubject(sgs, $event)">
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addSubjectGroupSubject()">Add New </button>
<div *ngIf="addingSGS">
  <ui-sgs-detail (close)="close($event)"></ui-sgs-detail>
</div>
