<div>
<div>
    <label>Subject Group: </label>
    <select [ngModel]="selectedSubjectGroup" (ngModelChange)="subjectGroupSelected($event)">
        <option *ngFor="let subjectGroup of subjectGroups" [ngValue]="subjectGroup">{{subjectGroup.subjectGroupName}}</option>
    </select>
</div>
<div class="col-md-5">
    <table class="table table-bordered table-striped table-sm">
        <caption></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sgs of subjectGroupSubjects" (click)="onSelect(sgs)" [class.selected]="sgs === selectedSGS">
                <td class="col-md-4">{{sgs.subjectName}}</td>
                <td>
                    <button type="button" md-button color="accent" (click)="deleteSubjectGroupSubject(sgs, $event)">
                        delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addSubjectGroupSubject()">Add New </button>
</div>
<div *ngIf="addingSGS">
    <ui-sgs-detail (close)="close($event)"></ui-sgs-detail>
</div>
