<form (ngSubmit)="fetchHomeworks()" #form="ngForm">
  <div class="form-group row">
    <label for="className" class="col-md-2">Select Class :</label>
    <select class="col-md-4" name="className" required [ngModel]="selectedClass" (ngModelChange)="classSelected($event)">
      <option *ngFor="let classs of classes" [ngValue]="classs">{{classs.className}}</option>
    </select>
  </div>
  <div class="form-group row">
    <label for="sectionName" class="col-md-2">Select Section :</label>
    <select class="col-md-4" name="sectionName" required [ngModel]="selectedSection" (ngModelChange)="sectionSelected($event)">
      <option *ngFor="let section of sections" [ngValue]="section">{{section.sectionName}}</option>
    </select>
  </div>
  <div class="form-group row">
    <label for="date" class="col-md-2">Date :</label>
    <input type="date" name="date" required [(ngModel)]="homeworkDate" placeholder="Homework Date" />
    <button type="submit" class="btn btn-normal btn-md">Fetch Homework</button>
  </div>
</form>
<div class="card">
  <div class="col-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>SubjectName</th>
          <th>Homework</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let homework of homeworks">
          <td>{{homework.subjectName}}</td>
          <td>
            <textarea class="form-control" rows="4" [(ngModel)]="homework.homeworkMessage"></textarea>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="save(homework, $event)">
              save
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(homework, $event)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
