<div class="card">
  <div class="card-block">
    <div class="form-group row">
      <label class="col-md-1">Class :</label>
      <div class="col-md-4">
        <select class="form-control" [ngModel]="selectedClass" (ngModelChange)="classSelected($event)">
          <option *ngFor="let classs of classes" [ngValue]="classs">{{classs.className}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-1">Section :</label>
      <div class="col-md-4">
        <select class="form-control" [ngModel]="selectedSection" (ngModelChange)="sectionSelected($event)">
          <option *ngFor="let section of sections" [ngValue]="section">{{section.sectionName}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Username</th>
          <th>Mobile 1</th>
          <th>Mobile 2</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" (click)="onSelect(student)" [class.selected]="student === selectedStudent">
          <th scope="row">{{student.rollNo}}</th>
          <td>{{student.name}}</td>
          <td>{{student.username}}</td>
          <td>{{student.mobile1}}</td>
          <td>{{student.mobile2}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="gotoEdit(student, $event)">
              edit
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteStudent(student, $event)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="error" *ngIf="error">{{error}}</div>
<button type="button" class="btn btn-success btn-md" (click)="addStudent()">Add New </button>
<div *ngIf="addingStudent">
  <ui-student-detail (close)="close($event)"></ui-student-detail>
</div>
